#include <windows.h>
#include "resource.h"

IDD_MEDICATION_EDITOR DIALOGEX 0, 0, 250, 198
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Medication"
FONT 9, "Segoe UI"
BEGIN
    LTEXT           "Name", -1, 10, 12, 62, 10
    EDITTEXT        IDC_MEDICATION_NAME, 76, 9, 144, 14, ES_AUTOHSCROLL
    LTEXT           "Dose", -1, 10, 38, 62, 10
    EDITTEXT        IDC_MEDICATION_DOSE, 76, 35, 144, 14, ES_AUTOHSCROLL
    LTEXT           "Icon", -1, 10, 64, 62, 10
    EDITTEXT        IDC_MEDICATION_ICON, 76, 61, 86, 14, ES_AUTOHSCROLL | ES_READONLY
    PUSHBUTTON      "Browse...", IDC_BROWSE_ICON, 168, 60, 44, 16
    PUSHBUTTON      "Clear", IDC_CLEAR_ICON, 216, 60, 24, 16
    LTEXT           "Interval", -1, 10, 90, 62, 10
    EDITTEXT        IDC_MEDICATION_INTERVAL, 76, 87, 70, 14, ES_AUTOHSCROLL
    COMBOBOX        IDC_MEDICATION_UNIT, 152, 87, 88, 70, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Start", -1, 10, 117, 62, 10
    CONTROL         "", IDC_MEDICATION_DATE, "SysDateTimePick32", DTS_SHORTDATEFORMAT | WS_TABSTOP, 76, 113, 94, 15
    CONTROL         "", IDC_MEDICATION_TIME, "SysDateTimePick32", DTS_TIMEFORMAT | WS_TABSTOP, 176, 113, 64, 15
    LTEXT           "Start is the initial timer anchor.", -1, 76, 134, 164, 10
    DEFPUSHBUTTON   "Save", IDOK, 132, 170, 50, 16
    PUSHBUTTON      "Cancel", IDCANCEL, 190, 170, 50, 16
END
