#include <windows.h>
#include "resource.h"

IDD_MEDICATION_EDITOR DIALOGEX 0, 0, 250, 198
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Medication"
FONT 9, "Segoe UI"
BEGIN
    LTEXT           "Name", -1, 10, 12, 62, 10
    EDITTEXT        IDC_MEDICATION_NAME, 76, 9, 144, 14, ES_AUTOHSCROLL
    LTEXT           "Dose", -1, 10, 38, 62, 10
    EDITTEXT        IDC_MEDICATION_DOSE, 76, 35, 144, 14, ES_AUTOHSCROLL
    LTEXT           "Icon", -1, 10, 64, 62, 10
    EDITTEXT        IDC_MEDICATION_ICON, 76, 61, 86, 14, ES_AUTOHSCROLL | ES_READONLY
    PUSHBUTTON      "Browse...", IDC_BROWSE_ICON, 168, 60, 44, 16
    PUSHBUTTON      "Clear", IDC_CLEAR_ICON, 216, 60, 24, 16
    LTEXT           "Interval", -1, 10, 90, 62, 10
    EDITTEXT        IDC_MEDICATION_INTERVAL, 76, 87, 70, 14, ES_AUTOHSCROLL
    COMBOBOX        IDC_MEDICATION_UNIT, 152, 87, 88, 70, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Start", -1, 10, 117, 62, 10
    CONTROL         "", IDC_MEDICATION_DATE, "SysDateTimePick32", DTS_SHORTDATEFORMAT | WS_TABSTOP, 76, 113, 94, 15
    CONTROL         "", IDC_MEDICATION_TIME, "SysDateTimePick32", DTS_TIMEFORMAT | WS_TABSTOP, 176, 113, 64, 15
    LTEXT           "Start is the initial timer anchor.", -1, 76, 134, 164, 10
    DEFPUSHBUTTON   "Save", IDOK, 132, 170, 50, 16
    PUSHBUTTON      "Cancel", IDCANCEL, 190, 170, 50, 16
END

IDD_BACKGROUND DIALOGEX 0, 0, 214, 128
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Background"
FONT 9, "Segoe UI"
BEGIN
    AUTORADIOBUTTON "Solid", IDC_BACKGROUND_SOLID, 12, 12, 60, 12, WS_GROUP | WS_TABSTOP
    AUTORADIOBUTTON "Blur", IDC_BACKGROUND_BLUR, 80, 12, 60, 12
    LTEXT           "Colour", -1, 12, 36, 40, 10
    CONTROL         "", IDC_BACKGROUND_COLOR, "BUTTON", BS_OWNERDRAW | WS_TABSTOP, 60, 32, 40, 18
    LTEXT           "Opacity", -1, 12, 62, 40, 10
    CONTROL         "", IDC_BACKGROUND_ALPHA, "msctls_trackbar32", TBS_HORZ | TBS_NOTICKS | WS_TABSTOP, 56, 58, 118, 20
    LTEXT           "255", IDC_BACKGROUND_ALPHA_VALUE, 178, 62, 26, 10
    LTEXT           "", IDC_BACKGROUND_HINT, 12, 86, 192, 10
    DEFPUSHBUTTON   "Save", IDOK, 96, 104, 50, 16
    PUSHBUTTON      "Cancel", IDCANCEL, 154, 104, 50, 16
END
